*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    font-family: "Sui Generis", bold;
    background-color: #fff;
    width: 100%;
    height: 13vh;
    z-index: 99999;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 13vh;
    align-items: center;
    font-size: 1.5em;
}
.logo{
    height: 13vh;
    padding-top: 5px;
}
.especial{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    background-color: #00347f;
    width: 20vh;
    height: 13vh;
    text-align: center;
    font-size: 0.7em;
    align-items: center;
}
.destaque{
    width: 90%;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.1em;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}
.idiomas{
    width: 15vh;
    text-align: center;
}
.login{
    text-transform: uppercase;
    font-size: 1em;
    background-color: #00347f;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
}
#escolha_lingua{
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    font-family: "Sui Generis", bold;
    font-size: 0.7em;
}
/* fim nav */
.banner{
    height: 87vh;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 40%;
    background-color: #4c4c4c;
    border: solid 10px #005eb9;
    border-radius: 5px;
}
.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_img img{
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3{
    display: none;
}
.pre, .nxt{
    margin-top: 25%;
    width: 12%;
    height: 15%;
    position: absolute;
    top: 0;
    background-color: rgba(88, 88, 88, 100);
    z-index: 99;
    cursor: pointer;
    opacity: 0.5;
}
.pre{
left: 0;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
}
.nxt{
right: 0;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.dot{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.dotos{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, .6);
    
}
.slide_img{
   z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}
#i1:checked ~ .dot #dot1,
#i2:checked ~ .dot #dot2,
#i3:checked ~ .dot #dot3{
background-color: #fff
}
/* fim slider */
.beneficios{
    margin-top: 10vh;
    height: 100vh;
    width: 100%;
    color: #fff;
}
.vantagens{
    height: 50%;
    width: 100%;
    background-color: #003b89;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#textinhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    justify-content: space-around;
}

.imagens{
    width: 40%;
    display: flex; 
    flex-direction: row;;
    justify-content: space-around;

}
.conheça{
     font-family: "Sui Generis", bold;
     font-size: 1.7em;
     width: 40%;
     background-color: #f2a620;
     border-radius: 10px;
     box-shadow: 0 0 6px #000000;
     cursor: pointer;
     padding-bottom:10px;
     padding-top: 10px;
     text-align: center;
}
.certo{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.errado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ponto{
    width: 60%; 
    font-size: 1.6em;
    font-family: 'Muli', bold;
}
.imagens img{
    width: 20vh;
}
/* funções */
.funções{
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.boxes{
    width: 20%;
    height: 90%;
    background-color: #fff;
    border: solid 5px #000;
    color: #000;
    text-align: center;
    font-family: 'Muli', bold;
    font-size: 2em;
    padding-top: 2vh;
    box-shadow: 4px 4px 3px #000000;
    border-radius: 5px;
    margin-top: 30px;
}
.parte{
    height: 40vh;
    background-color: #f2f2f8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
}
.textu{
    width: 40%;
    font-size: 2.0em;
    font-family: "Muli" bold;

}
.imagi{
    width: 32vh;
}
/* meperdi */
.aviso{
    width: 100%;
    height: 10vh;
    text-align: center;
    margin-top: 5vh;
    font-size: 2em;
}
.laranjos{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.lares{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.casas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #f2a620;
    height: 20vh;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 3em;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Muli" bold;
    box-shadow: 0 2px 6px #000000;;
}
.numero{
    font-size: 0.7em;
}
/* acabei mais uma parte */
.duvida{
    height: 70vh;
    background-color: #004698;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.isso{
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}
.caixa_de_texto{
    background-color: #fff;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 10px #000;
}
.caixa_de_texto img{
    border: solid 2px #000;
}
.palavras{
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.palavras h3{
    font-size: 2em;
}
.palavras p{
    font-size: 1.5em;
    margin-top: 5vh;
}
.duvida a{
    font-size: 2em;
    background-color: #f2a620;
    box-shadow: 0 2px 6px #000000;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
/*  */
/* a */
.local{
    height: 100vh;
}
.grande{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.oi{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0055ab;
    font-size: 1.9em;
    border-radius: 10px;
}
.ola{
    font-family: "Sui Generis", bold;
    color: #fff;
}
.lol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2a620;
    width: 80%;
    height: 40%;
    box-shadow: 0 2px 6px #000000;
    border-radius: 10px;
}
#nao{
    font-size: 0.8em;
}
.mapa{
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top: 2vh;
} 
.mapinha{
    border: solid 10px #005eb9;
    border-radius: 10px;
}
.quem{
    height: 60vh;
    width: 100%;
}
.pai{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.lorem{
    width: 40%;
    font-size: 1.5em;
    height: 70%;
}
.pessoas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.imaginha{
    height: 150px;
}
.profs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
}